/* *{
    margin: 0;
    padding: 0;
    border: none;
}
body{
    width: 100%;
    background-color: #212121;
} */
/* header{
    width: 850px;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
} */
#video-div{
    display: none;
    /* position: relative; */
    position: absolute;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 800px;
    height: 450px;
}
video{
    width: 100%;
    height: 100%;
}
.play-one{
    width: 70px;
    height: 70px;
    background: url(../img/playone.png) no-repeat;
    opacity: .7;
    background-size:cover;
    position: absolute;
    bottom: 70px;
    right: 60px;
    cursor: pointer;
}
.play-footer{
    position: absolute;
    width: 100%;
    height: 36px;
    bottom: 0;
}
.yinyin{
    position: absolute;
    height: 80px;
    width: 100%;
    background: blue;
    bottom: 0;
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.3));
    transition: opacity .3s;
}
.yinyin-on{
    opacity: 1;
}
.yinyin-off{
    opacity: 0;
}
.play-footer .play-btn{
    width: 23px;
    height: 23px;
    float: left;
    margin-left: 3%;
    cursor: pointer;
    z-index: 3;
}
.stop{
    background: url(../img/stop.png) no-repeat;
    background-size:cover;
}
.play{
    background: url(../img/play.png) no-repeat;
    background-size:cover;
}

.time{
    float: left;
    font-size: 15px;
    line-height: 23px;
    color: white;
    margin-left: 10px;
    z-index: 2;
}
.right-bottom{
    float: right;
    margin-right: 3%;
    z-index: 4;
}
.bottom{
    width: 23px;
    height: 23px;
    float: right;
    margin-left: 20px;
    cursor: pointer;
}
.all{
     background: url(../img/all.png) no-repeat;
     background-size:cover;
}
.loop{
    background: url(../img/loop.png) no-repeat;
    background-size:cover;
}
.loop-ture{
    background: url(../img/1loop.png);
    background-size:cover;
}
.set{
    position: relative;
    background: url(../img/set.png) no-repeat;
    background-size:cover;
}
.set-list{
    display: none;
    background: black;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 40px;
    left: -85px;
    opacity: .7;
    border-radius: 4px;
}
.konge1{
    display: none;
    position: absolute;
    width: 200px;
    height: 17px;
    bottom: 23px;
    left: -85px;
    text-align: center;
    z-index: 4;
}
.set:hover .set-list,
.set:hover .konge1{
    display: block;
}
.play-speed{
    color: white;
    font-weight: bolder;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}
.play-speed-list{
    padding-top: 5px;
    font-weight: bolder;
    font-size: 17px;
    color: azure;
    text-align: center;
}
.play-speed-list span{
    margin-left: 15px;
    margin-right: 15px;
}
.play-speed-list span:hover{
    color: #7969ff;
}
.moren{
    color: #7969ff;
}
.huazhi{
    width: 50px;
    font-size: 15px;
    line-height: 23px;
    color: white;
}
.sound{
    position: relative;
    background: url(../img/sound.png) no-repeat;
    background-size:cover;
}
.jinyin{
    position: relative;
    background: url(../img/jinyin.png) no-repeat;
    background-size:cover;
}
.progress{
    width: 95%;
    background: white;
    height: 2px;
    position: absolute;
    bottom: 50px;
    left: 2.5%;
    cursor: pointer;
    transition: bottom 0.1s;
    border-radius: 3px;
}
.progress:hover{
    height: 6px;
    bottom: 48px;
}
.progress .timeBar {
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    z-index: 2;
    width: 0;
    background: #F9D43A;
    border-radius:3px;
}
#soundBtn:hover .sound-list,
#soundBtn:hover .konge{
     display: block;
}
.sound-list{
    display: none;
    position: absolute;
    width: 30px;
    height: 85px;
    bottom: 40px;
    left: -6px;
    text-align: center;
    background: black;
    border-radius: 3px;
}
.konge{
    display: none;
    position: absolute;
    width: 30px;
    height: 17px;
    bottom: 23px;
    left: -6px;
    text-align: center;
    z-index: 4;
}
.sound-number{
    position: relative;
    width: 100%;
    text-align: center;
    height: 20px;
    padding-top:5px;
    line-height: 20px;
    font-size: 15px;
    color: white;
}
.volume{
    position: relative;
    margin: auto;
    margin-top: 5px;
    width: 7px;
    height: 50px;
    background: aqua;
    border-radius: 2px;
    overflow: hidden;
}
.volumeBar {
    display: block;
    width: 100%;
    height: 40px;
    position: absolute;
    background-color: white;
    z-index: 2;
}
.player-list{
    position: absolute;
    padding-left: 10px;
    width: 30px;
    height: 60px;
    top: 50%;
    margin-top: -30px;
    background: url(../img/list.png) -10px 0px rgba(0,0,0,.1);
    background-size: cover;
    transition: opacity .3s;
}
.player-list-on{
    opacity: 1;
}
.player-list-off{
    opacity: 0;
}
.player-list-bk{
    display: none;
    position: absolute;
    width: 160px;
    height: 250px;
    top: 50%;
    margin-top: -150px;
    background: rgba(0,0,0,.3);
}
.player-list:hover{
    background: none;
}
.player-list:hover .player-list-bk{
    display: block;
}
.player-list-head{
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    color: white;
    background: #7c7d7f;
}
.player-list-cotent{
    height: 220px;
    width: 160px;
    overflow: hidden;
}
.player-list-box{
    height: 220px;
    width: 195px;
    text-align: center;
    overflow: auto;
}
.player-list-video{
    padding-top: 5px;
    margin-left: -17px;
    width: 100%; 
    height: 20px;
    text-align: center;
    line-height: 15px;
    font-size: 16px;
    color: #00F7DE;
    cursor: pointer;
    font-weight: bolder;
    border-bottom: 1px #60bff2 dashed;
    transition: all .2s;
}
.player-list-video:hover{
    height: 25px;
    font-size: 18px;
    line-height: 20px;
}
.video-now,
.video-now:hover{
    height: 30px;
    font-size: 20px;
    line-height: 25px;
    background: rgba(139,288,255,.3);
    color: #6956ff;
}
footer{
    width: 100%;
    height: 30px;
    text-align: center;
    color: darkcyan;
    font-size: 20px;
    line-height: 30px;
    top: 0;
}
.wrap{
    margin-top: 10px;
    font-size: 12px;
    color: #acacac;
    text-align: center;
}
.wrap a{
    text-decoration: none;
    display: inline-block;
    color: #aaaaaa;
    margin: 0 25px;
}
/* 自适应调节 */
/* @media only screen and (max-width:1440px){
    #video-div{
        width: 800px;
        height: 450px;
    }
} */
/* @media only screen and(max-width:1024px){
    #video-div{
        width: 780px;
        height: 420px;
    }
} */
@media only screen and (max-width:768px){
    #video-div{
        width: 620px!important;
        height: 350px!important;
        top:10px;
    }
    /* .play-footer{
        height: 30px!important;
    } */
    .bottom {
        width: 20px;
        height: 20px;
    }
    .huazhi {
        width: 48px;
        font-size: 15px;
        /* line-height: 20px; */
    }
    .play-btn {
        width: 23px!important;
        height: 23px!important;

    }
    .time {
        font-size: 15px;
        line-height: 23px;
    }
    .play-one {
        width: 70px;
        height: 70px;
    }
    .progress {
        width: 95%;
        height: 2px;
        bottom:50px;

    }
    .progress:hover{
        height: 6px;
        bottom: 48px;
    }
    .player-list {
        width: 30px;
        height: 60px;
        top: 50%;
        margin-top: -30px;
    }
    .player-list-bk {
        width: 160px;
        height: 250px;
        top: 50%;
        margin-top: -150px;
    }
    .player-list-head {
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 25px;
    }
    .player-list-cotent{
        height: 220px;
        width: 160px;
    }
    .player-list-box {
        height: 220px;
        width: 195px;
    }
    /* .player-list-video {
        width: 100%; 
    } */
    .video-now {
        height: 30px;
        font-size: 20px;
        line-height: 25px;
    }
}
@media only screen and (max-width:640px){
    #video-div{
        width: 330px!important;
        height: 188px!important;
    }
    .bottom {
        width: 18px;
        height: 18px;
        /* margin-top:-16px; */
    }
    .huazhi {
        width: 32px;
        font-size: 12px;
        line-height: 16px;
    }
    .play-btn {
        width: 20px!important;
        height: 20px!important;

    }
    .time {
        font-size: 13px;
        line-height: 21px;
    }
    .play-one {
        width: 52px;
        height: 52px;
        bottom: 52px;
        right:42px;
    }
    .progress {
        width: 93%;
        height: 1.8px;
        bottom:46px;

    }
    .progress:hover{
        height: 5px;
        bottom: 42px;
    }
    .player-list {
        width: 18px;
        height: 36px;
        top: 48%;
        margin-top: -20px;
    }
    .player-list-bk {
        width: 100px;
        height: 120px;
        top: 48%;
        margin-top: -80px;
    }
    .player-list-head {
        /* width: 90%; */
        height: 20px;
        line-height: 20px;
        font-size: 18px;
    }
    .player-list-cotent{
        height: 120px;
        width: 100px;
    }
    .player-list-box {
        height: 100px;
        width: 100px;
    }
    .player-list-video {
        /* width: 0;  */
        margin-left:0px;
    }
    .video-now {
        height: 20px;
        font-size: 16px;
        line-height: 18px;
    }
   
}
@media only screen and (max-width:480){
    #video-div{
        width: 298px!important;
        height: 168px!important;
    }
    .bottom {
        width: 16px;
        height: 16px;
        margin-top:10px;
    }
    .huazhi {
        width: 28px;
        font-size: 10px;
        line-height: 16px;
    }
    .play-btn {
        width: 17px!important;
        height: 17px!important;

    }
    .time {
        font-size: 10px;
        line-height: 18px;
    }
    .play-one {
        width: 42px;
        height: 42px;
        bottom:42px;
        right:32px;
    }
    .progress {
        width: 92%;
        height: 1.6px;
        bottom:40px;

    }
    .progress:hover{
        height: 4px;
        bottom: 40px;
    }
    .player-list {
        width: 16px;
        height: 32px;
        top: 46%;
        margin-top: -16px;
    }
    .player-list-bk {
        width: 80px;
        height: 110px;
        top: 46%;
        margin-top: -60px;
    }
    .player-list-head {
        /* width: 88%; */
        height: 18px;
        line-height: 18px;
        font-size: 16px;
    }
    .player-list-cotent{
        height: 80px;
        width: 80px;
    }
    .player-list-box {
        height: 100px;
        width: 80px;
    }
    .player-list-video {
        /* width: 70%;  */
        /* margin-left:8px; */
    }
    .video-now {
        height: 20px;
        font-size: 12px;
        line-height: 16px;
    }
}
@media only screen and (max-width:320px){
    #video-div{
        width: 212px!important;
        height: 120px!important;
    }
    .bottom {
        width: 14px;
        height: 14px;
        margin-top:0px;
    }
    .huazhi {
        width: 28px;
        font-size: 8px;
        line-height: 16px;
    }
    .play-btn {
        width: 15px!important;
        height: 15px!important;

    }
    .time {
        font-size: 7px;
        line-height: 15px;
    }
    .play-one {
        width: 32px;
        height: 32px;
        bottom:36px;
        right:18px;
    }
    .progress {
        width: 90%;
        height: 1px;
        bottom:36px;

    }
    .progress:hover{
        height: 3px;
        bottom: 36px;
    }
    .player-list {
        width: 14px;
        height: 28px;
        top: 40%;
        margin-top: -10px;
    }
    .player-list-bk {
        width: 50px;
        height: 90px;
        top: 40%;
        margin-top: -30px;
    }
    .player-list-head {
        /* width: 80%; */
        height: 10px;
        line-height: 10px;
        font-size: 6px;
    }
    .player-list-cotent{
        height: 20px;
        width: 50px;
    }
    .player-list-box {
        height: 80px;
        width: 50px;
    }
    .video-now {
        height: 10px;
        font-size: 8px;
        line-height: 6px;
    }
    
}